.incription-page-container * {
  margin: 16px auto;
  text-align: center;
  display: block;
}

.incription-page-container > h1 {
  color: #17d4fe;
  font-size: 4rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  text-shadow: 0 8px 32px 0 rgba(214, 255, 245, 0.25);
  font-weight: 200;
}

.incription-page-container > h5 {
  color: rgb(235, 255, 250);
  font-weight: 200;
  font-size: 2rem;
}

.incription-page-container > input {
  background: rgba(214, 255, 245, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 64px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 16px;
  color: #fff;
  direction: ltr;
}
.incription-page-container button {
  background: rgba(214, 255, 245, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #fff;
  padding: 8px 16px;
}
.center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

input:disabled {
  border: 1px solid rgb(255, 0, 0) !important;
}
