.home-page-container * {
  margin: 16px auto;
  text-align: center;
  display: block;
}

.home-page-container > h1 {
  color: #17d4fe;
  font-size: 4rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  text-shadow: 0 8px 32px 0 rgba(214, 255, 245, 0.25);
  font-weight: 200;
}

.home-page-container > h5 {
  color: rgb(235, 255, 250);
  font-weight: 200;
  font-size: 2rem;
}

.home-page-container > img {
  opacity: 0.7;
}
.clock {
  color: #17d4fe;
  font-size: 60px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  letter-spacing: 7px;
  direction: ltr;
}
